.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}
body{
  background-color: rgb(165, 241, 241);
}
.main {
  display: grid;
  gap: 1em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 8px;
}
.tittle{
  width: 100%;
  display: flex;
  justify-content: center;

}
.buttonAdd{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: double;
  background-color: aqua;
}
.buttonAdd{
  background-color: rgb(5, 170, 170);
}
.btnDelete{
  color: white;
  background-color: red;
  border: 0;
  border-radius: 10px;
  top:0;
}